## Конвертация естественного языка в запросы SQL

В грубом приближении этапы работы RAG через SQL заключаются в следующих пунктах:

- `Привести вопрос пользователя на естественном языке к запросу SQL`
- `Исполнить запрос`
- `Дать модели результат и сгенерировать ответ пользователю с учётом полученных данных`

In [16]:
from langchain.utilities import SQLDatabase
from langchain_community.llms import YandexGPT
from langchain_community.chat_models import ChatYandexGPT
from langchain_core.messages import HumanMessage, SystemMessage
from langchain_experimental.sql import SQLDatabaseChain
from langchain.chains import create_sql_query_chain
from langchain.prompts import PromptTemplate
from dotenv import load_dotenv
import sqlite3

from langchain_core.globals import set_debug
set_debug(True)

In [2]:
from langchain.chains.sql_database.prompt import PROMPT
print(PROMPT.template)

Given an input question, first create a syntactically correct {dialect} query to run, then look at the results of the query and return the answer. Unless the user specifies in his question a specific number of examples he wishes to obtain, always limit your query to at most {top_k} results. You can order the results by a relevant column to return the most interesting examples in the database.

Never query for all the columns from a specific table, only ask for a few relevant columns given the question.

Pay attention to use only the column names that you can see in the schema description. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

In [3]:
load_dotenv()

True

In [4]:
import pandas as pd

database_name = "analytics.db"
csv_files = {
    "customer":"data/customer.csv",
    "employee":"data/employee.csv",
    "sale":"data/sale.csv"
}

conn = sqlite3.connect(database_name)

for table_name, csv_path in csv_files.items():
    df = pd.read_csv(csv_path)
    df.to_sql(
        name=table_name,
        con=conn,
        if_exists="replace",
        index=False
    )

conn.close()

In [5]:
llm = ChatYandexGPT(model_name="yandexgpt", temperature=0)

In [7]:
db = SQLDatabase.from_uri("sqlite:///analytics.db", sample_rows_in_table_info=1)

template = '''Ты эксперт по SQLite. Получив вопрос после Question, сперва сгенерируй синтаксически верный SQLite запрос, отвечающий на этот вопрос, и запиши его, затем просмотри результат запроса и верни ответ на вопрос.
Запрашивай не более чем {top_k} результатов за запрос
Используй следующий формат:

Question: "Вопрос здесь"
SQLQuery: "SQL запрос для выполнения"
SQLResult: "Результат SQL запроса"
Answer: "Конечный ответ здесь"

Используй только следующие имена таблиц:

{table_info}.

Question: {input}'''

prompt = PromptTemplate.from_template(template)

chain = create_sql_query_chain(llm, db,)

print(chain.middle[1])

input_variables=['input', 'table_info'] input_types={} partial_variables={'top_k': '5'} template='You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most {top_k} results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (") to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use date(\'now\') function to get the current date, if the question involves "today".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n{table_info}\n\nQuestion: {input}'

In [8]:
print(db.dialect)
print(db.get_usable_table_names())
db.run("SELECT count(*) FROM customer LIMIT 10;")

sqlite
['customer', 'employee', 'sale']

'[(1000,)]'

In [17]:
response = chain.invoke({"question": "Сколько у нас работников?"})
response

[chain/start] [chain:RunnableSequence] Entering Chain run with input:
{
  "question": "Сколько у нас работников?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<input,table_info>] Entering Chain run with input:
{
  "question": "Сколько у нас работников?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info>] Entering Chain run with input:
{
  "question": "Сколько у нас работников?"
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "Сколько у нас работников?"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] [0ms] Exiting Chain run with output:
{
  "output": "Сколько у нас работников?\nSQLQuery: "
}
[chain/start] [chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "Сколько у нас работников?"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info> > chain:RunnableLambda] [0ms] Exiting Chain run with output:
{
  "output": "\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<input,table_info> > chain:RunnableParallel<input,table_info>] [5ms] Exiting Chain run with output:
{
  "input": "Сколько у нас работников?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableAssign<input,table_info>] [5ms] Exiting Chain run with output:
{
  "question": "Сколько у нас работников?",
  "input": "Сколько у нас работников?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/"
}
[chain/start] [chain:RunnableSequence > chain:RunnableLambda] Entering Chain run with input:
{
  "question": "Сколько у нас работников?",
  "input": "Сколько у нас работников?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/"
}
[chain/end] [chain:RunnableSequence > chain:RunnableLambda] [0ms] Exiting Chain run with output:
{
  "input": "Сколько у нас работников?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/"
}
[chain/start] [chain:RunnableSequence > prompt:PromptTemplate] Entering Prompt run with input:
{
  "input": "Сколько у нас работников?\nSQLQuery: ",
  "table_info": "\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/"
}
[chain/end] [chain:RunnableSequence > prompt:PromptTemplate] [0ms] Exiting Prompt run with output:
[outputs]
[llm/start] [chain:RunnableSequence > llm:ChatYandexGPT] Entering LLM run with input:
{
  "prompts": [
    "Human: You are a SQLite expert. Given an input question, first create a syntactically correct SQLite query to run, then look at the results of the query and return the answer to the input question.\nUnless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per SQLite. You can order the results to return the most informative data in the database.\nNever query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in double quotes (\") to denote them as delimited identifiers.\nPay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.\nPay attention to use date('now') function to get the current date, if the question involves \"today\".\n\nUse the following format:\n\nQuestion: Question here\nSQLQuery: SQL Query to run\nSQLResult: Result of the SQLQuery\nAnswer: Final answer here\n\nOnly use the following tables:\n\nCREATE TABLE customer (\n\tcustomerid INTEGER, \n\tfirstname TEXT, \n\tlastname TEXT, \n\tstreetaddress TEXT, \n\tcity TEXT, \n\tstate TEXT, \n\tpostalcode TEXT, \n\tcountry TEXT, \n\tphone TEXT\n)\n\n/*\n1 rows from customer table:\ncustomerid\tfirstname\tlastname\tstreetaddress\tcity\tstate\tpostalcode\tcountry\tphone\n12\tJames\tDominick\t4 Mast Ct\tPortsmouth\tVA\t23703\tUSA\t(757) 686-2992\n*/\n\n\nCREATE TABLE employee (\n\temployee_id INTEGER, \n\tfirst_name TEXT, \n\tlast_name TEXT, \n\temail TEXT, \n\tphone_number TEXT, \n\thire_date TEXT, \n\tjob_id TEXT, \n\tsalary REAL, \n\tmanager_id REAL, \n\tdepartment_id INTEGER\n)\n\n/*\n1 rows from employee table:\nemployee_id\tfirst_name\tlast_name\temail\tphone_number\thire_date\tjob_id\tsalary\tmanager_id\tdepartment_id\n100\tSteven\tKing\tsteven.king@example.com\t515.123.4567\t2003-06-17\tAD_PRES\t24000.0\tNone\t90\n*/\n\n\nCREATE TABLE sale (\n\tsaleid INTEGER, \n\tsaledate TEXT, \n\tcustomerid INTEGER, \n\ttax REAL, \n\tshipping REAL\n)\n\n/*\n1 rows from sale table:\nsaleid\tsaledate\tcustomerid\ttax\tshipping\n191228\t2013-12-31\t1134\t0.0\t44.37\n*/\n\nQuestion: Сколько у нас работников?\nSQLQuery:"
  ]
}
[llm/end] [chain:RunnableSequence > llm:ChatYandexGPT] [1.07s] Exiting LLM run with output:
{
  "generations": [
    [
      {
        "text": "```\nSELECT COUNT(*) FROM employee;\n```",
        "generation_info": null,
        "type": "ChatGeneration",
        "message": {
          "lc": 1,
          "type": "constructor",
          "id": [
            "langchain",
            "schema",
            "messages",
            "AIMessage"
          ],
          "kwargs": {
            "content": "```\nSELECT COUNT(*) FROM employee;\n```",
            "type": "ai",
            "id": "run--1a627d29-a864-40fb-a0aa-a09823ae1d60-0",
            "tool_calls": [],
            "invalid_tool_calls": []
          }
        }
      }
    ]
  ],
  "llm_output": null,
  "run": null,
  "type": "LLMResult"
}
[chain/start] [chain:RunnableSequence > parser:StrOutputParser] Entering Parser run with input:
[inputs]
[chain/end] [chain:RunnableSequence > parser:StrOutputParser] [0ms] Exiting Parser run with output:
{
  "output": "```\nSELECT COUNT(*) FROM employee;\n```"
}
[chain/start] [chain:RunnableSequence > chain:_strip] Entering Chain run with input:
{
  "input": "```\nSELECT COUNT(*) FROM employee;\n```"
}
[chain/end] [chain:RunnableSequence > chain:_strip] [0ms] Exiting Chain run with output:
{
  "output": "```\nSELECT COUNT(*) FROM employee;\n```"
}
[chain/end] [chain:RunnableSequence] [1.08s] Exiting Chain run with output:
{
  "output": "```\nSELECT COUNT(*) FROM employee;\n```"
}

'```\nSELECT COUNT(*) FROM employee;\n```'

In [10]:
response.strip("`\n")

'SELECT COUNT(*) FROM employee;'

In [11]:
db.run(response.strip("`\n"))

'[(11,)]'

In [12]:
response = chain.invoke({"question": "Сколько клиентов из Бронкса?"})
print(response)
print(db.run(response.strip("`\n")))

```
SELECT COUNT(customerid)
FROM customer
WHERE city = "Бронкс";
```
[(0,)]

In [13]:
response = chain.invoke({"question": "Сколько клиентов из Бронкса (используй английское название)?"})
print(response)
print(db.run(response.strip("`\n")))

```
SELECT COUNT(customerid)
FROM customer
WHERE city = "Bronx";
```
[(2,)]

In [14]:
response = chain.invoke({"question": "Из какого штата наибольшее количество клиентов?"})
print(response)
print(db.run(response.strip("`\n")))

```
SELECT state, COUNT(customerid) AS count_of_customers
FROM customer
GROUP BY state
ORDER BY count_of_customers DESC
LIMIT 1;
```
[('NY', 79)]

In [15]:
response = chain.invoke({"question": "Найди мне топ 5 клиентов, заплативших наибольшую стоимость пересылки"})
print(response)
print(db.run(response.strip("`\n")))

```
SELECT customerid, shipping
FROM sale
ORDER BY shipping DESC
LIMIT 5;
```
[(12976, 59.47), (1096, 59.37), (15651, 59.03), (17667, 58.15), (6725, 55.53)]